<div class="row">
    <div class="col-auto">
        <h2>Welcome, {{name}}!</h2>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6">
        <h3>Add a New Post:</h3>

        <form class="form new-post-form">
            <div class="form-group">
                <label for="post-title">Post Title:</label>
                <input class="form-input" type="text" id="post-title" name="post-title" />
            </div>
            <div class="form-group">
                <label for="post-content">Content:</label>
                <textarea class="form-input" id="post-content" name="post-content"></textarea>
            </div>
            <div class="form-group">
                <label for="post-summary">Summary:</label>
                <textarea class="form-input" id="post-summary" name="post-summary"></textarea>
                </div>
                <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>

    {{#if posts.length}}
    <div class="col-md-6 post-list">
        <h3>Your Posts:</h3>

        <!-- Loop over each object in the posts array -->
        {{#each posts as |post| }}
        <div class="row mb-4 post">
            <div class="col-md-5">
                <h2>
                    <a href="/post/{{post.id}}">{{post.name}}</a>
                </h2>
                <p>{{format_date post.date_created}}</p>
                <p>{{post.summary}}</p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-sm btn-warning" href="/edit/{{post.id}}">EDIT</a>
                <button class="btn btn-sm btn-danger" data-id="{{post.id}}">DELETE</button>
            </div>

        </div>
        {{/each}}
    </div>
    {{/if}}
</div>

<script src="./js/dashboard.js"></script>