<div class="jumbotron">
    <h1 class="display-4">{{name}}</h1>
    <p class="lead">{{summary}}</p>
    <p>Author: {{user.name}} | {{format_date date_created}}</p>
    <hr class="my-4">
    <p>
        {{content}}
    </p>
</div>

<div class="row mt-4">
    <h4>Comments</h4>
    </div>
    <div class="row my-8"
    {{#if comments.length}}
    <div class="col-md-8">
    {{#each comments as |comment| }}

    <div class="card w-100 my-2">
    <div class="card-body">
      <p class="card-text">{{this.comment}}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">{{user.name}}  |  {{format_date this.comment_date}}</small>
    </div>
  </div>

    {{/each}}
    {{else}}
    <div class="row my-8">
        <div class="col-md-8">
            <p>Be the first to leave a comment!!</p>
        </div>
    </div>
    {{/if}}


<div class="row mt-4">
    {{#if logged_in}}
    <div class="col-md-8">
        <form class="form new-comment-form">
            <div class="form-group">
                <label for="comment-comment">Comment:</label>
                <input class="form-control" type="text" id="comment-comment" name="comment-comment" size="100"/>
            </div> 
            <div class="form-group">
                <button type="submit" class="btn btn-primary" id="commentBtn" data-id="{{id}}">Submit</button>
            </div>
        </form>
    </div>
    {{else}}
    <div class="col-md-8">
        <p><a href="/login">Login</a> to comment</p>
    </div>
    {{/if}}
</div>
</div>
<script src="/js/comment.js"></script>